@import "../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";


.circle_size
{
    font-size: 100%;
    color: $blue;
    font-weight: 900;
}

.fontSizejoin1
{
  font-size: 110%;   
  font-weight: 900;
  background-color: #25224B;
  color: white;
}
