@import "../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";


.footer_sub
{
    color: gray;
    font-size: 80%;
}

.font_footer
{
    font-size: 80%;
    color: gray;
}

.font_icon
{
    font-size: 120%;
    color: gray;
    padding-left: 3%;
}
