@import "../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";


.background_color_founder
{
    background-color: #FBF6C7;
    border-top-left-radius: 1px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.color_h1
{

color: #25224A;
}